.custom-coaches-list-item{
    .coach-details-content{
        .price{
            font-size: 18px;
        }
        .languages{
            a{
                &::after {
                    content: "|";
                    font-size: 14px;
                    color: #dbe2fb;
                    margin: 0 15px;
                }
            }
        }
        .categories{
            .label{
                margin-top: 0;
                margin-right: 5px;
                color: #FFF;
            }
        }

        .ratings{
            .star{
                font-size: 24px;
            }
            li{
                margin-bottom: 0;
            }
        }

        .coach-book-area{
            .book-coach-actions{
                a{
                    padding: 5px 8px;
                    border-radius: 25px;
                }
            }
            .book-coach-button{
                a{
                    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
                }
            }
        }

    }
}

.custom-coaches-grid-item{
    &:hover{
        .coach-name{
            color: #FFF !important;
        }
    }
    .coach-name{
        a:hover{
            color: #FFF !important;
        }
    }
    .price{
        font-size: 18px;
        color: #31d7a9;
    }
}